<%= javascript_tag do %>
  function update_preview() {
    var toggle_description = $('#settings_remove_issue_edit_description').is(':checked');
    var toggle_header = $('#settings_remove_header_on_update').is(':checked');
    $('#issue_description').toggle(!toggle_description);
    $('#issue_header').toggle(!toggle_header);
  }
  $(document).ready(function(){
    update_preview();
    $('#settings_remove_issue_edit_description').click(update_preview);
    $('#settings_remove_header_on_update').click(update_preview);
  });

<% end %>
<fieldset>
    <legend><%=t('redmine_tidy_emails.fieldset_issue_notifications') %></legend>
      <p>
        <%= label_tag 'settings_remove_issue_edit_description', t('redmine_tidy_emails.label_remove_description') %>
        <%= check_box_tag "settings[remove_issue_edit_description]", true, settings['remove_issue_edit_description'] == 'true' %>
        <br>
        <%= label_tag 'settings_remove_header_on_update', t('redmine_tidy_emails.label_remove_header_on_update') %>
        <%= check_box_tag "settings[remove_header_on_update]", true, settings['remove_header_on_update'] == 'true' %>
        <br>
    </p>
</fieldset>
    <legend><%=t('redmine_tidy_emails.fieldset_message_preview') %></legend>

    <pre>
<% if Setting.emails_header.present? -%>
<span id='issue_header'><%= Setting.emails_header %></span>
<% end %>
  Issue #9999 has been updated by Redmine Admin.


  Test Update

  ----------------------------------------
  Bug #9999: Test Issue
  http://localhost:3000/issues/9999#change-99

  * Author: Redmine Admin
  * Status: New
  * Priority: Normal
  ----------------------------------------
  <span id='issue_description'>Issue Description:
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>

  -- 
  You have received this notification because you have either subscribed to it, or are involved in it.
  To change your notification preferences, please click here: http://hostname/my/account
  ********
    </pre>



